<div class="span4">
		<div data-target="#show-rig-modal" data-toggle="modal" id="5" class="rig">
			   <span class="parts-count">1 Part</span>
			   <div class="meta">
			     <div class="user-ava">
			        <img width="80" height="80" src="http://gravatar.com/avatar/700af336a402006527ab944756302156" alt="Vishu">
			        <img width="80" height="80" src="http://gravatar.com/avatar/700af336a402006527ab944756302156" alt="Vishu">
			     </div>
			     <h2 class="rig-title">
			        <%= name %>
			     </h2>
			      <a class="like-cta" href="#"></a>
			  </div> <!-- ./meta -->
			  <img src="<%=image %>" class="rig-cover" alt="Thumb_screen_shot_2013-06-26_at_11.59.21_pm">
	   </div> <!-- ./rig -->
</div>